{% extends "helloDJ/base.html" %}
{% block content %}
{% load static %}


<section id="home" class="section-padding">
    <div>
        <br>
        <h1 class="s0">About <em>mimic</em>INT</h1>
    </div> 

    <div class="row">
        <div class="header-section text-center">
            <h2>Contact us</h2>
            <hr class="bottom-line">
            <div>
                <p>
                  If you want to provide feedback or any other inquiry on <em>mimic</em>INTweb or the <em>mimic</em>INT workflow, please, contact Andreas Zanzoni via the following contact form by putting “mimicINT” in the message subject:
                </p>
		<p>
		 <a href="https://tagc.univ-amu.fr/fr/contact/mimicintweb" target="_blank">https://tagc.univ-amu.fr/fr/contact/mimicintweb</a>
		</p>
		<p>
		 People involved in the <em>mimic</em>INT(web) development:
		</p>
		<p>
		 Sébastien A. Choteau, Kevin Maldonado, Aurélie Bergon, Marceau Cristianini, Mégane Boujeant, Lilian Drets, Christine Brun, Lionel Spinelli, Andreas Zanzoni.
                </p>
	</div>

	<h2>Availability information</h2>
	<hr class="bottom-line">
	<div>

	  <p>
	    You can find a stand-alone version of the <em>mimic</em>INT workflow on GitHub:<br>
	    <a href="https://github.com/TAGC-NetworkBiology/mimicINT" target="_blank">https://github.com/TAGC-NetworkBiology/mimicINT</a>
	  </p>
	  <p>
	    If you use <em>mimic</em>INT in your work, please cite our paper:<br>
	    <a href="https://doi.org/10.1101/2022.11.04.515250" target="_blank">https://doi.org/10.1101/2022.11.04.515250</a>
	  </p>
       </div>

<br>

       <h2>Papers using <em>mimic</em>INT</h2>
       <hr class="bottom-line">
       <div>
         <p>
	   Halwachs B, Moesslacher CS, Kohlmayr JM, Fasching S, Masser S, Choteau SA, Zanzoni A, Kunowska N, Stelzl U. Modulation of human kinase activity through direct interaction with SARS-CoV-2 proteins. <em>BioRxiv</em>. 
	   doi: <a href="https://doi.org/10.1101/2023.11.27.568816" target="_blank">https://doi.org/10.1101/2023.11.27.568816</a><br>
	 </p>
	 <p>
	   Young V, Dohai B, Hitch TAC, Hyden P, Weller B, van Heusden NS, Saha D, Fernandez Macgregor J, Maseko SB, Lin CW, Boujeant M, Choteau SA, Ober F, Schwehn P, Rothballer S, Altmann M, Altmann S, Strobel A, Rothballer M, Tofaute M, Heinig M, Clavel T, Twizere JC, Vincentelli R, Boes M, Krappmann D, Falter C, Rattei T, Brun C, Zanzoni A, Falter-Braun P. A gut meta-interactome map reveals modulation of human immunity by microbiome effectors. <em>BioRxiv</em>. 
	   doi: <a href="https://doi.org/10.1101/2023.09.25.559292" target="_blank">https://doi.org/10.1101/2023.09.25.559292</a><br>
	 </p>

       </div>


       <h2>Funding</h2>
       <hr class="bottom-line">
       <div>

	 <p>
	   This work was supported by: the European Union’s Horizon 2020 Research and Innovation Programme [Project ID 101003633, RiPCoN, <a href="https://doi.org/10.3030/101003633" target="_blank">https://doi.org/10.3030/101003633</a>];
	   the JPI HDHL-INTIMIC action co-funded by the Agence Nationale de la Recherche [ANR-17-HDIM-0001, DIME,  <a href="https://anr.fr/Project-ANR-17-HDIM-0001" target="_blank">https://anr.fr/Project-ANR-17-HDIM-0001</a>]; and France 2030,
	   the French Government program managed by the French National Research Agency [ANR-16-CONV-0001, CENTURI,  <a href="https://anr.fr/ProjetIA-16-CONV-0001" target="_blank">https://anr.fr/ProjetIA-16-CONV-0001</a>]
	   and from Excellence Initiative of Aix-Marseille University - A*MIDEX [AMX-21-PEP-043].<br>
	   Sébastien A. Choteau received funding from the “Espoirs de la recherche” program managed by the French Fondation pour la Recherche Médicale (FDT202106013072).
	 </p>

       </div>
       <br>       




    
</section>
<br>

{% endblock %}
