{% extends "helloDJ/base.html" %}
{% block content %}
{% load static %}
<!--Error page-->
<body xmlns="http://www.w3.org/1999/html">
    <div class="d-flex flex-row align-items-center section-padding">
        <div class="container-error" style="margin-top : 15%">
            <div class="row">
                <div class="col-4 text-center">
                    <span class="s0" style="font-size: 100px;">{{ type_error }}</span>
                    <div class="mb-4 lead">{{ error_user }}</div>
                    <button class="submit-button" onclick="window.location.href='{% url 'home'%}'" style ="background: linear-gradient(135deg, #0088c9 80%, #fff 81%, #1A5276 82%);">go to home page</button>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock content %}